.cari-kostfilteronurutkan-jarak-remake-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cari-kostfilteronurutkan-jarak-remake-cari-kostfilteronurutkan-jarak-remake {
  width: 100%;
  height: 2400px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text {
  top: 263px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  width: 595px;
  height: auto;
  position: absolute;
  font-size: 46px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-text02 {
  top: 318px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  width: 917px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-label01 {
  top: 400px;
  left: 60px;
  width: 1312px;
  height: 360px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.cari-kostfilteronurutkan-jarak-remake-rectangle15 {
  top: 0px;
  left: 0px;
  width: 1311px;
  height: 360px;
  position: absolute;
  border-color: rgba(190, 183, 183, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.cari-kostfilteronurutkan-jarak-remake-image2 {
  top: 43px;
  left: 59px;
  width: 240px;
  height: 180px;
  position: absolute;
  border-radius: 9px;
}
.cari-kostfilteronurutkan-jarak-remake-teksisi {
  top: 43px;
  left: 345px;
  width: 280px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-text04 {
  top: 53px;
  color: rgba(0, 0, 0, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-capacity {
  top: 242px;
  left: 90px;
  width: 164.99978637695312px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-text08 {
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-ictwotoneman4 {
  top: 0px;
  left: 121.11680603027344px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-iconstar {
  top: 23px;
  left: 597px;
  width: 217.9999542236328px;
  height: 39.71659851074219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar {
  top: 0px;
  left: 87.1999282836914px;
  width: 44px;
  height: 40px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar01 {
  top: 0px;
  left: 43.60001754760742px;
  width: 44px;
  height: 40px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar02 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 40px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarborder {
  top: 0px;
  left: 174.39996337890625px;
  width: 44px;
  height: 40px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarhalf {
  top: 0px;
  left: 130.80006408691406px;
  width: 44px;
  height: 40px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-label {
  top: 138px;
  left: 345px;
  width: 682px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-label011 {
  top: 0px;
  left: 234px;
  width: 214px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(236, 236, 236, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text10 {
  top: 8px;
  left: 24px;
  color: rgba(90, 89, 89, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-label2 {
  top: 0px;
  left: 0px;
  width: 214px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(236, 236, 236, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text12 {
  top: 8px;
  left: 24px;
  color: rgba(90, 89, 89, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-label3 {
  top: 0px;
  left: 468px;
  width: 214px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(236, 236, 236, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text14 {
  top: 8px;
  left: 4px;
  color: rgba(90, 89, 89, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-groupmini-aa {
  top: 797px;
  left: 60px;
  width: 310px;
  height: 438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.cari-kostfilteronurutkan-jarak-remake-image21 {
  top: 56px;
  left: 35px;
  width: 240px;
  height: 180px;
  position: absolute;
  border-radius: 9px;
}
.cari-kostfilteronurutkan-jarak-remake-text16 {
  top: 246px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-iconstarmini {
  top: 285px;
  left: 53px;
  width: 205.00039672851562px;
  height: 37.34818649291992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar03 {
  top: 0px;
  left: 82.00019836425781px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar04 {
  top: 0px;
  left: 40.99964141845703px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar05 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarborder1 {
  top: 0px;
  left: 164.00039672851562px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarhalf1 {
  top: 0px;
  left: 122.99983978271484px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-label-mini {
  top: 340px;
  left: 41px;
  width: 228px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-rectangle6 {
  top: 0px;
  left: 7px;
  width: 214px;
  height: 42px;
  position: absolute;
  border-radius: 12px;
}
.cari-kostfilteronurutkan-jarak-remake-text18 {
  top: 8px;
  color: rgba(90, 89, 89, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-groupmini-ab {
  top: 797px;
  left: 399px;
  width: 310px;
  height: 438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.cari-kostfilteronurutkan-jarak-remake-image22 {
  top: 56px;
  left: 35px;
  width: 240px;
  height: 180px;
  position: absolute;
  border-radius: 9px;
}
.cari-kostfilteronurutkan-jarak-remake-text20 {
  top: 246px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-iconstarmini1 {
  top: 285px;
  left: 53px;
  width: 205.00039672851562px;
  height: 37.34818649291992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar06 {
  top: 0px;
  left: 82.00019836425781px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar07 {
  top: 0px;
  left: 40.99964141845703px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar08 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarborder2 {
  top: 0px;
  left: 164.00039672851562px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarhalf2 {
  top: 0px;
  left: 122.99983978271484px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-label-mini1 {
  top: 340px;
  left: 41px;
  width: 228px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-rectangle61 {
  top: 0px;
  left: 7px;
  width: 214px;
  height: 42px;
  position: absolute;
  border-radius: 12px;
}
.cari-kostfilteronurutkan-jarak-remake-text22 {
  top: 8px;
  color: rgba(90, 89, 89, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-groupmini-ac {
  top: 797px;
  left: 737px;
  width: 310px;
  height: 438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.cari-kostfilteronurutkan-jarak-remake-image23 {
  top: 56px;
  left: 35px;
  width: 240px;
  height: 180px;
  position: absolute;
  border-radius: 9px;
}
.cari-kostfilteronurutkan-jarak-remake-text24 {
  top: 246px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-iconstarmini2 {
  top: 285px;
  left: 53px;
  width: 205.00039672851562px;
  height: 37.34818649291992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar09 {
  top: 0px;
  left: 82.00019836425781px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar10 {
  top: 0px;
  left: 40.99964141845703px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar11 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarborder3 {
  top: 0px;
  left: 164.00039672851562px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarhalf3 {
  top: 0px;
  left: 122.99983978271484px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-label-mini2 {
  top: 340px;
  left: 41px;
  width: 228px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-rectangle62 {
  top: 0px;
  left: 7px;
  width: 214px;
  height: 42px;
  position: absolute;
  border-radius: 12px;
}
.cari-kostfilteronurutkan-jarak-remake-text26 {
  top: 8px;
  color: rgba(90, 89, 89, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-groupmini-ad {
  top: 797px;
  left: 1071px;
  width: 310px;
  height: 438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.cari-kostfilteronurutkan-jarak-remake-image24 {
  top: 56px;
  left: 35px;
  width: 240px;
  height: 180px;
  position: absolute;
  border-radius: 9px;
}
.cari-kostfilteronurutkan-jarak-remake-text28 {
  top: 246px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-iconstarmini3 {
  top: 285px;
  left: 53px;
  width: 205.00039672851562px;
  height: 37.34818649291992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar12 {
  top: 0px;
  left: 82.00019836425781px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar13 {
  top: 0px;
  left: 40.99964141845703px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestar14 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarborder4 {
  top: 0px;
  left: 164.00039672851562px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-icbaselinestarhalf4 {
  top: 0px;
  left: 122.99983978271484px;
  width: 41px;
  height: 37px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-label-mini3 {
  top: 340px;
  left: 41px;
  width: 228px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-rectangle63 {
  top: 0px;
  left: 7px;
  width: 214px;
  height: 42px;
  position: absolute;
  border-radius: 12px;
}
.cari-kostfilteronurutkan-jarak-remake-text30 {
  top: 8px;
  color: rgba(90, 89, 89, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-footerhome {
  top: 2173px;
  left: 0px;
  width: 1440px;
  height: 227px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 252, 251, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text32 {
  top: 120px;
  left: 429px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-text34 {
  top: 187px;
  left: 1092px;
  color: rgba(0, 0, 0, 0.800000011920929);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: right;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-text36 {
  top: 120px;
  left: 633px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-text38 {
  top: 120px;
  left: 837px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-artboard11 {
  top: 73px;
  left: 37px;
  width: 81px;
  height: 81px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-searchbar {
  top: 43px;
  left: 382px;
  width: 698px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.cari-kostfilteronurutkan-jarak-remake-vector {
  top: 8px;
  left: 665px;
  width: 26px;
  height: 26px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-text40 {
  top: 52px;
  left: 1267px;
  color: rgba(45, 193, 104, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-text42 {
  top: 52px;
  left: 1094px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-filter1 {
  top: 139px;
  left: 240px;
  width: 190px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(45, 193, 104, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text44 {
  top: 7px;
  left: 12.076271057128906px;
  color: rgba(236, 236, 236, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-filter2 {
  top: 139px;
  left: 461px;
  width: 279px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(236, 236, 236, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text46 {
  top: 7px;
  left: 10px;
  color: rgba(90, 89, 89, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-filter3 {
  top: 139px;
  left: 771px;
  width: 236px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(236, 236, 236, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text48 {
  top: 7px;
  left: 14px;
  color: rgba(90, 89, 89, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-filter4 {
  top: 139px;
  left: 1038px;
  width: 274px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(236, 236, 236, 1);
}
.cari-kostfilteronurutkan-jarak-remake-text50 {
  top: 7px;
  left: 28px;
  color: rgba(90, 89, 89, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-filterbar {
  top: 140px;
  left: 62px;
  width: 132px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-materialsymbolsfilteralt {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-text52 {
  top: 4px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cari-kostfilteronurutkan-jarak-remake-group40 {
  top: 276px;
  left: 1174px;
  width: 234px;
  height: 34.161109924316406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cari-kostfilteronurutkan-jarak-remake-materialsymbolssortrounded {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
}
.cari-kostfilteronurutkan-jarak-remake-text54 {
  top: 2px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
